html, body {
    height: 100%;
}

.textShadow {
    text-shadow: 1px 1px 1px #FFF;
}

.zPosition {
    z-index: -1;
}

.text-8xl {
    font-size: 6rem;
}

.gradientBlur {
    background: linear-gradient(0.25turn, rgba(0,0,0, 0), rgba(0,0,0, 0.3), rgba(0,0,0, 0));
}

.blur {
    background-color: rgba(0,0,0, 0.4);
}


.whiteHeading {
    background-color: #ffffffcc;
}

.slideUp-enter-active {
    transition: all .6s ease;
}

.slideUp-leave-active {
    transition: all .3s ease;
}

.slideUp-enter, .slideUp-leave-to {
    opacity: 0;
    transform: translateY(200px);
}

  

@tailwind base;

@tailwind components;

@tailwind utilities;